body {
  background: #f1f1f1;
}

.cardItemsPreview {
  width: 250px;
  height: auto;
  background: #fff;
  border: 2px solid #000;
  position: absolute;
  right: 250px;
  top: 50px;
  z-index: 20;
  padding: 14px;
  overflow: auto;
  /* visibility: hidden; */
}

.fa-shopping-cart:hover .cardItemsPreview {
  visibility: visible;
}

.cartImg {
  width: 50px;
}
