.cardContainer {
  width: 250px;
  height: auto;
  background: #fff;
  border: 2px solid #000;
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 20;
  padding: 14px;
  visibility: hidden;
}
